services:
  vite: # Vite dev server with HMR
    image: node:lts-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173" # Vite dev server
    command: sh -c "npm install && npm run dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
    container_name: ft_transcendence_vite

  web: # Nginx for HTTPS proxy
    image: nginx:alpine
    ports:
      - "8080:443" # HTTPS
      - "8000:80"  # HTTP for redirect
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certificates:/etc/nginx/certs:ro # Mount SSL certificates
    depends_on:
      - vite
      - backend
    container_name: ft_transcendence_nginx_dev

  backend: # Backend service for development
    image: node:lts-alpine # We could also use a specific ts-node-dev image
    working_dir: /app
    volumes:
      - ./backend:/app # Mount backend source code
      - /app/node_modules # Anonymous volume to prevent host node_modules from overwriting container's
      - ./backend/database:/app/database # Persist SQLite database during dev
    command: sh -c "npm install && npm run dev" # Install deps and run dev script
    # ports: # We can expose if direct access is needed for debugging, otherwise Nginx proxy is enough
      # - "3000:3000"
    environment:
      - NODE_ENV=development
    container_name: ft_transcendence_backend_dev

volumes:
  database_data_dev: