services:
  frontend:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8080:443"
      - "8000:80"
    container_name: ft_transcendence_frontend
    depends_on:
      - backend
    networks:
      - internal
    restart: unless-stopped

  backend:
    build:
      context: ./backend # Build context is the backend directory
      dockerfile: dockerfile # Specifies the backend Dockerfile
    # ports: # Not strictly needed to expose if only Nginx talks to it
      # - "3000:3000" 
    volumes:
      - backend_data:/app/database
    container_name: ft_transcendence_backend
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - internal
    restart: unless-stopped

volumes:
  backend_data:

networks:
  internal:
    driver: bridge