services:
  waf:
    build:
      context: .
      dockerfile: backend/security/waf/dockerfile
    ports:
        - "8080:443"
        - "8000:80"
    volumes:
      - waf_logs:/var/log/modsecurity
    container_name: ft_transcendence_waf
    depends_on:
      - frontend
    networks:
      - internal
    restart: unless-stopped
    
  frontend:
    build:
      context: . # Build context is the root directory for the frontend Dockerfile
      dockerfile: dockerfile # Specifies the frontend Dockerfile (lowercase)
    container_name: ft_transcendence_nginx
    depends_on:
      - backend
    networks:
      - internal
    restart: unless-stopped

  vault:
    image: hashicorp/vault:1.20.4
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_DEV_ROOT_TOKEN_ID=root
    command: ["server", "-dev", "-dev-root-token-id=root", "-dev-listen-address=0.0.0.0:8200"]
    container_name: ft_transcendence_vault
    networks:
      - internal
    restart: unless-stopped

  backend:
    build:
      context: ./backend # Build context is the backend directory
      dockerfile: dockerfile # Specifies the backend Dockerfile
    # ports: # Not strictly needed to expose if only Nginx talks to it
      # - "3000:3000" 
    volumes:
      - backend_data:/app/database
    container_name: ft_transcendence_backend
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - internal
    restart: unless-stopped

volumes:
  backend_data:
  waf_logs:

networks:
  internal:
    driver: bridge