services:
  waf:
    image: owasp/modsecurity-crs:nginx
    # build:                              #IF USING DOCKERFILE - OTHERVISE USE IMAGE
      # context: ./backend/security/waf  
      # dockerfile: dockerfile
    ports:
        - "8080:443"
        - "8000:80"
    volumes:
      - ./backend/security/waf/nginx.conf:/etc/nginx/templates/conf.d/default.conf.template:ro
      - ./backend/security/waf/modsecurity/config.conf:/etc/nginx/templates/modsecurity.d/modsecurity.conf.template:ro
      - ./backend/security/waf/logs:/var/log/modsecurity
      - ./certificates:/etc/nginx/certs:ro      #TODO: REPLACE BIND-MOUNTS WITH NAMED VOLUMES
    container_name: ft_transcendence_waf
    depends_on:
      - frontend
    restart: unless-stopped
    
  frontend:
    build:
      context: . # Build context is the root directory for the frontend Dockerfile
      dockerfile: dockerfile # Specifies the frontend Dockerfile (lowercase)
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certificates:/etc/nginx/certs:ro # Mount SSL certificates
    container_name: ft_transcendence_nginx
    depends_on:
      - backend
    restart: unless-stopped

  vault:
    image: hashicorp/vault:1.20.4
    command: ["server", "-config=/backend/security/vault/config/vault.hcl"]
    environment:
      - VAULT_ADDR=https://vault:8200
    container_name: ft_transcendence_vault
    volumes:
      - vault_data:/backend/security/vault/data
      - /backend/security/vault/config:/vault/config:ro
      - /backend/security/vault/tls:/vault/tls:ro
    cap_add:
      - IPC_LOCK
    networks:
      - internal
    restart: unless-stopped

  backend:
    build:
      context: ./backend # Build context is the backend directory
      dockerfile: Dockerfile # Specifies the backend Dockerfile
    # ports: # Not strictly needed to expose if only Nginx talks to it
      # - "3000:3000" 
    volumes:
      - ./backend/database:/app/database # Persist SQLite database
    container_name: ft_transcendence_backend
    environment:
      - NODE_ENV=production
      - JWT_SECRET=${JWT_SECRET:-your_super_secret_jwt_key_change_in_production_123456}
      - PORT=3000
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI:-https://localhost:8080/auth/google/callback}
    networks:
      - internal
    restart: unless-stopped

volumes:
  database_data: # We can define a named volume if prefered, instead of bind mount
  vault_data:

networks:
  internal:
    driver: bridge