services:
  waf:
    build:
      context: .
      dockerfile: backend/security/waf/dockerfile
    ports:
        - "8080:443"
        - "8000:80"
    volumes:
      - waf_logs:/var/log/modsecurity
    container_name: ft_transcendence_waf
    depends_on:
      - frontend
    networks:
      - internal
    restart: unless-stopped
    
  frontend:
    build:
      context: . # Build context is the root directory for the frontend Dockerfile
      dockerfile: dockerfile # Specifies the frontend Dockerfile (lowercase)
    container_name: ft_transcendence_nginx
    depends_on:
      - backend
    networks:
      - internal
    restart: unless-stopped

  vault:
    build:
      context: ./backend/security/vault
    # image: hashicorp/vault:1.20.4   #WHEN THE DOCKER FILE IS NOT USED
    environment:
      - VAULT_ADDR=https://vault:8200
    command: ["server", "-config=/vault/config/config.hcl"]
    container_name: ft_transcendence_vault
    volumes:
      - vault_data:/vault/data
      - vault_logs:/vault/logs
    cap_add:
      - IPC_LOCK
    networks:
      - internal
    restart: unless-stopped

  backend:
    build:
      context: ./backend # Build context is the backend directory
      dockerfile: dockerfile # Specifies the backend Dockerfile
    # ports: # Not strictly needed to expose if only Nginx talks to it
      # - "3000:3000" 
    volumes:
      - backend_data:/app/database
    container_name: ft_transcendence_backend
    environment:
      - NODE_ENV=production
      - JWT_SECRET=${JWT_SECRET:-your_super_secret_jwt_key_change_in_production_123456}
      - PORT=3000
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI:-https://localhost:8080/auth/google/callback}
    networks:
      - internal
    restart: unless-stopped

volumes:
  backend_data:
  vault_data:
  vault_logs:
  waf_logs:

networks:
  internal:
    driver: bridge